<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>JEE Unit 8.2 Homework</display-name>
    <description>
        This is JEE Unit 8.2 Homework
    </description>

    <servlet>
        <servlet-name>addTaskItemServlet</servlet-name>
        <servlet-class>com.company.todo.servlets.AddTaskItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTasksServlet</servlet-name>
        <servlet-class>com.company.todo.servlets.UpdateTasksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addTaskItemServlet</servlet-name>
        <url-pattern>/add_task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTasksServlet</servlet-name>
        <url-pattern>/update_tasks</url-pattern>
    </servlet-mapping>
</web-app>